{% extends 'layout.html' %}
{% block body %}
 
  <main role="main">

    <center><h3><b>Made with &#10084; <a href="https://www.linkedin.com/in/praneeth-kumar-84a15317b/"> Praneeth Kumar </a></b></h3></center>

    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">

          <!-- Boston Price Prediction -->
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="image">
                <a href="/boston"> <img  class="img img-responsive" src="https://i.insider.com/5b75a356e199f336008b528b?width=1100&format=jpeg&auto=webp" height="225px" width="100%" />
                  <h2 style="color: white">Boston Price Prediction</h2>
                </a>
              </div>
            </div>
          </div>
          <!-- Diabetic Prediction -->
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="image">
                <a href="/diabetic"> <img  class="img img-responsive" src="https://labblog.uofmhealth.org/sites/lab/files/2018-10/michigan-med-l-praise2-01%20%281%29.jpg" height="225px" width="100%" />
                  <h2>Diabetis prediction</h2>
                </a>
              </div>
            </div>
          </div>
          <!-- Flight Fare Prediction -->
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="image">
                <a href="/flight"> <img  class="img img-responsive" src="https://assets.telegraphindia.com/telegraph/2020/Jul/1595972233_1594320268_shutterstock_699697081.jpg" height="225px" width="100%" />
                  <h2 style="color: white">Flight Fare Prediction</h2>
                </a>
              </div>
            </div>
          </div>

                <!-- Heart Disease Prediction -->
         <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="image">
                <a href="/heart"> <img  class="img img-responsive" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/766/early-signs-of-heart-problems-1517491990.jpg" height="225px" width="100%" />
                  <h2 style="color: black">Heart Disease Prediction</h2>
                </a>
              </div>
            </div>
          </div>

                <!-- Ipl score Prediction -->
         <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="image">
                <a href="/ipl"> <img  class="img img-responsive" src="https://etimg.etb2bimg.com/photo/74508790.cms" height="225px" width="100%" />
                  <h2 style="color: white">IPL Score Prediction</h2>
                </a>
              </div>
            </div>
          </div>

                <!-- Admission Prediction -->
         <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="image">
                <a href="/admin"> <img  class="img img-responsive" src="https://cdn1.vectorstock.com/i/1000x1000/76/05/testing-for-admission-at-work-recruiting-concept-vector-22537605.jpg" height="225px" width="100%" />
                  <h2 style="color: black">Predicting the Chances of Admission</h2>
                </a>
              </div>
            </div>
          </div>

             <!--- Car price prediction---->
         <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="image">
                <a href="/car"> <img  class="img img-responsive" src="https://www.vshsolutions.com/wp-content/uploads/2019/03/carprediction.jpeg" height="225px" width="100%" />
                  <h2 style="color: black">Car price prediction</h2>
                </a>
              </div>
            </div>
          </div>

              <!---- Human resources analysis------>
         <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="image">
                <a href="/human"> <img  class="img img-responsive" src="https://marketersmedia.com/wp-content/uploads/2019/05/Human-Resource-Management.jpg" height="225px" width="100%" />
                  <h2 style="color: black">Human resource analysis</h2>
                </a>
              </div>
            </div>
          </div>

             <!-----------Loan approval prediction---------->

         <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="image">
                <a href="/loan"> <img  class="img img-responsive" src="https://content.tripster.com/travelguide/wp-content/uploads/2017/01/ThinkstockPhotos-638954764-e1497475005442.jpg" height="225px" width="100%" />
                  <h2 style="color: white">Loan approval prediction</h2>
                </a>
              </div>
            </div>
          </div>

            <!------------Data science salary-------->

            <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="image">
                <a href="/datascience"> <img  class="img img-responsive" src="https://hunterhamiltonpr.com/wp-content/uploads/sites/7/2018/02/Att-CompetitiveSalary.jpg" height="225px" width="100%" />
                  <h2 style="color: white">Data science salary prediction</h2>
                </a>
              </div>
            </div>
          </div>

            <!-------------Employee attrition----------->

            <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="image">
                <a href="/employee"> <img  class="img img-responsive" src="https://technirmitisoftwares.com/blog/wp-content/uploads/2019/05/hire-indian-developer.png" height="225px" width="100%" />
                  <h2 style="color: black">Employee attrition</h2>
                </a>
              </div>
            </div>
          </div>


            <!------------Cardio vascular diseasee--------->

            <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="image">
                <a href="/cardio"> <img  class="img img-responsive" src="https://hopkinsdiabetesinfo.org/wp-content/uploads/2016/02/Cardiovascular-disease-screening-and-management-57491678_Double-1-1080x675.jpg" height="225px" width="100%" />
                  <h2 style="color: green">Cardio vascular disease</h2>
                </a>
              </div>
            </div>
          </div>


          
        </div>
      </div>
    </div>
  </main>
{% endblock %}